html,
body {
	background-color: #ffcc33;
	margin: 0;
	padding: 0;
	font-family: "Heiti TC", "微軟正黑體", "Microsoft JhengHei", "Apple LiGothic Medium", "simhei", "Microsoft YaHei";
}
h1 {
	text-align: center;
}
input {
	margin: 0;
}
.input-block button {
	display: inline-block;
	text-decoration: none;
	color: #000;
	border: #999 solid 1px;
	border-radius: 5%;
	background-color: #eee;
	width: 45%;
	height: 29px;
	min-width: 100px;
	padding: 2px;
	cursor: pointer;
	text-align: center;
	margin: 2px 0;
	box-sizing: border-box;
	vertical-align: middle;
	line-height: 24px;
}
.input-block button:hover {
	background-color: #ccc;
}
#openBtn {
	display: none;
}
.exLabel,
.exLeft {
	background-color: #eee;
	color: #333;
}
.exLeft {
	position: fixed;
	left: -290px;
	bottom: 0;
	max-width: 290px;
	max-height: 100%;
	border-radius: 3px;
	border: #333 solid 1px;
	padding: 20px;
	box-sizing: border-box;
	transition: all 0.5s;
	height: 80%;
}
.content {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
.exLabel {
	font-size: 0.875em;
	width: 25px;
	position: absolute;
	right: -26px;
	bottom: 0;
	text-align: center;
	font-weight: bold;
	border-top: #333 solid 1px;
	border-right: #333 solid 1px;
	border-bottom: #333 solid 1px;
	border-radius: 0 3px 3px 0;
	cursor: pointer;
	padding-bottom: 20px;
}
.exLabel:before,
.exLabel:after {
	content: "";
	border: #333 solid 1px;
	position: absolute;
	width: 8px;
	left: 8px;
	transition: all 1s;
}
.exLabel:before {
	transform: rotate(45deg);
	top: 81px;
}
.exLabel:after {
	transform: rotate(-45deg);
	top: 87px;
}
#openBtn:checked ~ .exLeft {
	left: 0;
}
#openBtn:checked ~ .exLeft > .exLabel {
	/*color: #e83015;*/
}
#openBtn:checked ~ .exLeft > .exLabel:before {
	transform: rotate(45deg);
	top: 84px;
}
#openBtn:checked ~ .exLeft > .exLabel:after {
	transform: rotate(-45deg);
	top: 84px;
}
.container {
	margin: 0 auto;
	text-align: left;
	padding: 10px;
	max-width: 640px;
}
.canvas-block {
	margin: 0 auto;
	overflow: hidden;
	height: 500px;
	max-width: 500px;
	max-height: 1000px;
	/*background-color: #333;*/
	border: #333 solid 1px;
}
.input-block {
	margin: 20px auto;
	max-width: 500px;
}
.input-block span {
	display: inline-block;
	width: 28%;
	text-align: right;
}
#inpText {
	width: 36%;
	line-height: 21px;
}
#typeSel,
#categorySel {
	width: 95%;
	height: 21px;
}
#sel {
	width: 24%;
	height: 21px;
}
#inpRange {
	width: 60%;
	vertical-align: bottom;
}
.ex {
	text-align: center;
	color: #e83015;
	font-weight: bold;
	padding: 0 12%;
}
.fb-block {
	padding: 0 10%;
}
.center {
	text-align: center;
}
#fileUpload {
	width: 70%;
}
.smallText {
	font-size: 12px;
	color: #999;
	display: block;
	text-align: center;
	margin: 0;
	pointer-events: none;
}

.list-container {
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}

.list-block {
	margin: 20px auto;
}

.list-img {
	width: 100%;
}

.pic-content {
	position: relative;
	display: inline-block;
	width: 20%;
	margin: 0 6px 6px 0;
	border: #000 solid 1px;
	vertical-align: middle;
	max-width: 200px;
}

.pic-content > a {
	display: block;
	width: 100%;
}

.pic-content > p {
	background-color: #fff;
	margin: -5px 0px 0px;
	font-weight: bold;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

#line {
	background-color: #00c300;
	color: #fff;
	border-color: #00a300;
}

#line:hover {
	background-color: #00a300;
}

#line img {
	width: 23px;
	height: 23px;
}

#line span {
	vertical-align: top;
	width: auto;
	line-height: 24px;
}

#fb {
	background-color: #4763b3;
	color: #fff;
	border-color: #3b5295;
}

#fb:hover {
	background-color: #3b5295;
}

.img-container {
	margin: 0.5em 0 -1em 0;
	text-align: left;
	vertical-align: middle;
}

.img-container .img-content {
	display: inline-block;
	overflow: hidden;
	width: 50px;
	height: 50px;
	margin: 0 4px 4px;
	background-color: #000;
	line-height: 50px;
	*font-size: 45px;
	*font-family: Arial;
	cursor: pointer;
}

.img-content img {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.input-block .text-color {
	width: 23px;
	height: 23px;
	vertical-align: top;
	cursor: pointer;
	margin-right: 4px;
}

.white {
	background-color: #fff;
}

.black {
	background-color: #000;
}

.red {
	background-color: #f00;
}

.green {
	background-color: #0f0;
}

.blue {
	background-color: #00f;
}

.act {
	border: #ff0 solid 1px;
}
